@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Quicksand:wght@500;700&display=swap');

:root {
    --primario: #6C5CE7;
    --secundario: #00CEC9;
    --acento: #FF7675;
    --fondo: #F0F2F5;
    --blanco: #FFFFFF;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--fondo);
    margin: 0;
    color: #2D3436;
}

header {
    background: linear-gradient(135deg, var(--primario), var(--secundario));
    color: var(--blanco);
    padding: 60px 20px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

nav { margin-top: 25px; }
nav a {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}
nav a:hover { background: var(--blanco); color: var(--primario); }

.titulo-seccion {
    margin: 40px 0 20px 10%;
    color: var(--primario);
    border-left: 5px solid var(--acento);
    padding-left: 15px;
}

.seccion-color { background-color: #E0E7FF; padding-bottom: 40px; }

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.tarjeta-trabajo {
    background: var(--blanco);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
    cursor: pointer;
}
.tarjeta-trabajo:hover { transform: translateY(-10px); }
.tarjeta-trabajo img { width: 100%; height: 250px; object-fit: cover; }

.info { padding: 20px; }
.info h3 { margin: 0; color: var(--primario); }
.info p { margin: 5px 0 0; color: #636e72; }

/* MODAL / ZOOM */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
}

.modal-contenido {
    margin-top: 5vh;
    max-width: 85%;
    max-height: 75vh;
    border: 5px solid white;
    border-radius: 15px;
}

#nombreAlumnoZoom {
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
}

.cerrar {
    position: absolute;
    top: 20px; right: 35px;
    color: white; font-size: 50px;
    cursor: pointer;
}

footer { padding: 40px; text-align: center; color: #636e72; }
