/* Estilos para las Secciones */
.titulo-seccion {
    text-align: center;
    padding-top: 30px;
    color: #2c3e50;
    font-size: 2rem;
}

nav { margin-top: 15px; }
nav a { color: #d35400; text-decoration: none; font-weight: bold; margin: 0 10px; }

/* Estilos para el Zoom */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-contenido {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
    border: 5px solid white;
}

.cerrar {
    position: absolute;
    top: 20px; right: 35px;
    color: white; font-size: 40px;
    cursor: pointer;
}